#navbar-container {
  margin-bottom: 72px;
}

.role-content {
  margin: auto;
  width: 60%;
  border: 1px solid white;
}

.big-role {
  width: 95%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

.role-title {
  margin-bottom: 35px;
  font-family: 华文行楷;
  color: black;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.role-shell {
  width: 90%;
  height: 500px;
  display: flex;
  margin: 10px auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.role-box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 10px solid #fff;
  background-color: #fff;
}

.role-box:hover {
  /* 调整盒子宽度 */
  flex-basis: 8%;
}

.role-box > img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  /* 添加过渡动画 */
  transition: 0.5s;
}

.role-box:hover > img {
  /* 鼠标移动到图片放大 */
  width: 100%;
  height: 100%;
}

.role-box > span {
  text-align: center;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 200 45px 幼圆;
}

.role-wrapper {
  /* 清空浮动 */
  clear: both;
  border: 3px solid pink;
  border-radius: 20px;
  margin: 22px 8px;
  height: 400px;
  box-shadow: 5px 5px 10px 0px pink;
  /* 添加过渡元素 */
  transition: all 0.3s ease;
}

.role-wrapper:hover {
  /* 过渡缩放 */
  transform: scale(1.08);
}

.role-wrapper p {
  font-family: "幼圆";
  font-size: 24px;
}

.role-wrapper img {
  /* 图片左浮动 */
  float: left;
  height: 400px;
}
