/* 通用样式 */
* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

/* 内部样式 */

/* 图片区域 */
.movelunboshowblock {
    width: 600px;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}

.movelunboimgs,
.movelunboimgs img {
    width: 600px;
    height: 400px;
}

.movelunboimgs {
    width: 1000%;
    margin-left: -100%;
}

.movelunboimgs li {
    float: left;
}

/* 小圆点区域 */
.movelunbocircles{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.movelunbocircles li{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    transition: all .3s;
}
.movelunbocircles  .current{
    width: 15px;
}